*.log
**/.next
**/coverage
**/Dockerfile
**/node_modules
**/storybook-static
.claude
.dockerignore
.env*
!.env*.example
.github
.gitignore
.husky
.kamal
.next
.vscode
coverage
docs
infra
node_modules
README.md
storybook-static
